
<div id="input-fields">
    <form action="/new_client">
        <button id="add-client-button">Add New Client</button>
    </form>
    
    <button id="find-client-button">Find Clients</button>
    <label for="search-date">Dates(YYYY-MM-DD):</label>
    <input type="text" id="search-date-one" name="search-date-one" placeholder="YYYY-MM-DD" value="2012-01-01">
    <input type="text" id="search-date-two" name="search-date-two" placeholder="YYYY-MM-DD" value="2020-01-01">
</div>

<div id="client-cards">
    
</div>

<script src="https://unpkg.com/moment"></script>
<script src="static/js/filter.js"></script>